body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.password-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10% auto;
    max-width: 80%;
}

.password-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit-button, .view-password-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.submit-button:hover, .view-password-button:hover {
    background-color: #0056b3;
}
.yatoimg {
        height:auto;
        width: 62%;
        border: 12px solid rgb(152, 255, 255);
        border-radius: 50%;
    }
.yato {
    text-align: center;
}
  body {color:white;
        font-size: 30px;
        background:linear-gradient(to bottom right,#2a77f3,#ff00f7);
    }
